/* You can add global styles to this file, and also import other style files */
html, body{
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: lightgrey !important;
}